<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canary Dreams</title>
    </head>

    <body>
        <footer>     
            <h1 class = "fuente" style="text-align: left;">2022 Canary Dreams, Inc.  ·  Privacidad  ·
            Condiciones
            </h1>
            <!--Privacidad · Condiciones</div>-->

            <div id="redesSociales style ="> 
                <div id = "LogoFacebook"> 
                    <img class="img_redes" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"> </div>

                <div id = "LogoTwitter">    
                    <img class="img_redes" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
                </div>

                <div id = "LogoInsta">    
                    <img class="img_redes" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
                </div>
            </div>
        </footer>
    </body>
</html>