<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canary Dreams</title>
    </head>
    <body> 
        <header>   
            <img id = logo src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
            
            <div id = "fondo_header1">
                <h1 id = fuente>Hazte Anfitrion</h1>
            </div>

            <div id = "fondo_header" style="width: 30px; right: 50%; border-radius: 10px;"> 
                <img id = lupa src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
            </div>
            
            <div id = "fondo_header2"> 
                <img id = imagenes src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
                <img id = imagenes src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
            </div>
        </header>
    </body>
</html>
